# -*- mode: yaml; yaml-tab-width: 4; indent-tabs-mode: nil -*-
---
Diagnostics:
  ClangTidy:
    Add:
      - misc-*
      - modernize*
      - clang-diagnostic-*
    Remove:
      - misc-no-recursion
      - modernize-use-trailing-return-type
      - modernize-use-nodiscard
