# Copyright (C) 2024 Marco Craveiro <marco.craveiro@gmail.com>
#
# This program is free software; you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation; either version 3 of the License, or (at your option) any later
# version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with
# this program; if not, write to the Free Software Foundation, Inc., 51 Franklin
# Street, Fifth Floor, Boston, MA 02110-1301, USA.
#
---
name: Product website
on:  # yamllint disable-line rule:truthy
  push:
    branches: ["main"]

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Setup Emacs
        uses: purcell/setup-emacs@v7.0
        with:
          version: 29.1
      - name: Build site
        run: |
          emacs -Q --script .build-site.el
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Doxygen
        run: |
          sudo apt-get install graphviz doxygen
          sudo apt-get install fonts-firacode fonts-freefont-ttf
          doxygen --version
          echo "Running Doxygen"
          doxygen build/doxygen/Doxyfile
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: 'build/output/site'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
