# Copyright (C) 2025 Marco Craveiro <marco.craveiro@gmail.com>
#
# This program is free software; you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation; either version 3 of the License, or (at your option) any later
# version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with
# this program; if not, write to the Free Software Foundation, Inc., 51 Franklin
# Street, Fifth Floor, Boston, MA 02110-1301, USA.
#
# yamllint disable rule:line-length
---
name: Continuous Windows

env:
  VCPKG_BINARY_SOURCES: 'clear;default'

on:  # yamllint disable-line rule:truthy
  push:
    branches: [main]
    tags: ['*']
  pull_request:
    branches: [main]
  paths-ignore:
    - 'docs/**'

jobs:
  build:
    name: ${{matrix.family}}-${{matrix.compiler}}-${{matrix.buildtype}}
    runs-on: windows-latest
    environment: CI
    strategy:
      fail-fast: false
      matrix:
        name: [windows-msvc, windows-clang]
        buildtype: [debug, release]
        include:
          - name: windows-msvc
            family: windows
            compiler: msvc
          - name: windows-clang
            family: windows
            compiler: clang
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Install Clang
        uses: KyleMayes/install-llvm-action@v2
        if: ${{matrix.compiler}} == clang
        with:
          version: "19"
          arch: x64

      - name: Install NSIS
        if: ${{matrix.compiler}} == clang
        run: choco install nsis

      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1.13.0

      - name: Setup postgres
        uses: ikalnytskyi/action-setup-postgres@v8
        with:
          username: ores
          password: ahV6aehuij6eingohsiajaiT0
          database: oresdb
          port: 5432
          postgres-version: "18"
        id: postgres

      - name: Setup Template Database
        run: |
          psql ${{ steps.postgres.outputs.connection-uri }} -f ./projects/sql/setup_template.sql

      - name: Setup Main Database
        run: |
          psql ${{ steps.postgres.outputs.connection-uri }} -f ./projects/sql/create_database.sql

      - name: get-cmake
        uses: lukka/get-cmake@v4.1.2

      - name: run-vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          doNotCache: false

      - name: Run CTest workflow
        run: |
          $env:VCPKG_DISABLE_SYSTEM_PACKAGE_CHECK=1
          $env:ORES_BUILD_PROVIDER="github"
          $env:ORES_BUILD_COMMIT="$env:GITHUB_SHA"
          $env:ORES_BUILD_NUMBER="$env:GITHUB_RUN_NUMBER"
          $env:ORES_BUILD_TIMESTAMP=Get-Date -format "yyyy/MM/dd HH:mm:ss"
          $env:ORES_TEST_DB_PASSWORD="ahV6aehuij6eingohsiajaiT0"
          $preset="${{matrix.family}}-${{matrix.compiler}}-${{matrix.buildtype}}"
          $cmake_args="build_group=Continuous,preset=$preset"
          ctest -VV --preset $preset --script "CTest.cmake,$cmake_args"

      - name: Dump test details
        run: |
           Get-Content ./build/output/${{matrix.family}}-${{matrix.compiler}}-${{matrix.buildtype}}/publish/bin/test-results-*.xml

      - name: Upload artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: ${{matrix.family}}-${{matrix.compiler}}-${{matrix.buildtype}}
          path: ./build/output/${{matrix.family}}-${{matrix.compiler}}-${{matrix.buildtype}}/packages/OreStudio-0.0.4-win64.msi
