# Copyright (C) 2024 Marco Craveiro <marco.craveiro@gmail.com>
#
# This program is free software; you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation; either version 3 of the License, or (at your option) any later
# version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with
# this program; if not, write to the Free Software Foundation, Inc., 51 Franklin
# Street, Fifth Floor, Boston, MA 02110-1301, USA.
#
# This file was copied from QuantLib. It was originally unlicensed.
#
# yamllint disable rule:line-length
---
name: Misspell fixer
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - '**'

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      - name: Install and run misspell-fixer
        run: |
          # 1. Get the latest release tag from the GitHub API
          echo "Fetching latest release tag..."
          TAG=$(curl -s https://api.github.com/repos/vlajos/misspell-fixer/releases/latest | jq -r ".tag_name")
          echo "Latest tag is: $TAG"

          # 2. Construct the download URL and download the binary to a file
          echo "Downloading misspell-fixer..."
          curl -L -o misspell-fixer.tar.gz "https://github.com/vlajos/misspell-fixer/releases/download/${TAG}/misspell-fixer-linux-amd64.tar.gz"

          # 3. Extract and install the binary
          echo "Extracting and installing..."
          tar -xzf misspell-fixer.tar.gz
          sudo mv misspell-fixer /usr/local/bin/

          # 4. Clean up the downloaded archive
          rm misspell-fixer.tar.gz

          # 5. Run the tool with your desired options
          echo "Running misspell-fixer..."
          misspell-fixer -rsvn --exclude external --exclude build --exclude assets --exclude vcpkg .

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: misspell-fixes-${{ github.ref_name }}
          delete-branch: true
          commit-message: 'Fixes by misspell-fixer'
          title: 'Typos fixed by misspell-fixer'
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
